.footer {
  padding: 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.03);
  margin-top: auto; /* Para ficar sempre no fim quando em um flex container column */

  &__content {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    font-size: 0.8125rem; /* 13px */
    color: #64748B;
    
    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__copyright {
    font-weight: 400;
  }

  &__slogan {
    font-weight: 500;
    display: none;
    
    @media (min-width: 768px) {
      display: block;
    }
  }
}
